.collapsible .content {
  padding: 6px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-top-width: 0px;
}
.collapsible .header {
  padding: 6px;
  cursor: pointer;
  /* border-radius: 10px; */
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.collapsible {
  margin-bottom: 10px;
}
