.page-top {
  margin-bottom: 20px;
}

.page-headers {
  font-size: 40px;
  text-align: center;
}

.page-descriptions {
  font-size: 16px;
  text-align: center;
}

h3 {
  font-size: 20px;
}

.navbar-text {
  color: green;
}

#nav {
  background-color: #ffffff;
}

#homepage {
  border-top: #000000;
  border-style: solid;
  border-width: 2px;
}
